*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: 'Roboto', sans-serif;
    background-color: #D9D9D9;
  }

  .header{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
  }
.logo {
    width: 35rem;
    height: auto;
  }
  .header .blur-card {
    width: auto;
    height: auto;
    justify-content: space-between;
  }

  .blur-card h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 110px;
    
    align-items: left;
    margin-bottom: 5px;

    color: #003F63;
  }
  .blur-card p {
    width:545px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;

    display: flex;
    align-items: center;
    margin-bottom: 10px;

    color: #000000;

  }
  .blur-card button {
    width: 270px;
    height: 63px;
    border-radius: 5px;
    background-color: #F2B138;

    color: white;
    font-family: Montserrat;
    font-size: 30px;
    border-style: none;
  }
  .blur-card a {
    width: 100%;
    height: 100%;
    color: white;
    font-family: Montserrat;
    font-size: 30px;
    text-decoration: none;
  }
  .social-media {
    left: 1385px;
    top: 211px;
    display: grid;
    justify-content: space-around;
    align-items: center;
  }
  .social-media .wpp, .facebook, .instagram {
    font-size: 20px;
    color: #555555;
    margin-bottom: 20px;
  }

  
  .percentage-content {
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 30px 15px;
    align-items: center;
    justify-content: center;

    background: #003F63;
  }
  .percentage-content h1{
    color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 52px;
    margin-top: 25px;
    margin-bottom: 44px;
  }

  .percentage-content .percentage-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .percentage-content .percentage-cards .percentage {
    width: 20rem;
    height: 15rem;
    align-items: center;
  }
  .percentage-content .percentage-cards .percentage h3 {
    color: #F2B138;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 45px;
  }
  .percentage-content .percentage-cards .percentage p {
    color: #F1F1F1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
  }
  .services {
    width: 100%;
    height: auto;
    padding-top: 55px;
  }

  .services h1 {
    color: #003F63;
    font-size: 65px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 80px;
    text-align: center;
  }

  .services .service-card {
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    margin-top: 20px;
  }

  .services .service-card .service-card-text {
   align-items: center;
   justify-content: space-around;
   width: 32rem;
   height: auto;
  }
  .services .service-card .service-card-text h2 {
    color: #353D40;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .services .service-card .service-card-text p {
    width: 32rem;
    height: auto;
    margin-top: 25px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
  }
  .services .service-card img {
    width: 35rem;
    margin-left: -30px;

    box-shadow: 0px 10px 50px rgba(39, 39, 39, 0.26);
  }

  .offer-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5rem;

    background-color: #003F63;
  }
  .offer-section h1 {
    color: #F2B138;
  }
  .offer-section .left-card-offer {
    width: 45rem; 
  }
  .offer-section .left-card-offer h1 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 55px;
    margin-top: 20px;
  }
  .offer-section .left-card-offer p {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 400;
    width: 40rem;
    margin-top: 15px;

    color: #FFFFFF;
  }

  .offer-section .offer-list-card {
    width: 30rem;
    height: auto;
  }
  .offer-section .offer-list-card h1 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;

    color: #F2B138;
  }

  .offer-section .offer-list-card ul {
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 15px;
  }
  .offer-section .offer-list-card ul li {
    margin-left: 25px;
    font-weight: 400;
    color: #FFFFFF;
  }

  @media (max-width: 858px){
    .header{
      width: 100%;
      height: 550px;
    }
  
    .blur-card {
      position: absolute;
      height: 130px;
      width: 480px;
      left: 0px;
      top: 360px;
      padding: 30px;
  
     
      background-color: #aaaaaa54;
      backdrop-filter: blur(40px);
      /* Note: backdrop-filter has minimal browser support */
      
      border-radius: 0px 32px 32px 0px;  
    }
  
    .blur-card h2 {
      font-family: 'Roboto', sans-serif;
      color: white;
      font-weight: 700;
      text-align: left;
      margin-bottom: 2px;
      width: 100%;
      height: 30px;
    }
    .blur-card p {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      margin-top: 15px;
      text-align: left;
    }
    .percentage-content {
      width: 100%;
      height: 400px;
      left: 0px;
      position: relative;
      margin-top: -50px;
      margin-bottom: -50px;
      padding: 10px 15px;
      align-items: center;
      justify-content: center;
  
      background: linear-gradient(101.57deg, #0540B9 -8.1%, #99B5FA 138.33%);
      border-radius: 40px;
    }
    .percentage-content h1{
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 32px;
      margin-top: 15px;
    }
  
    .percentage-content .percentage-cards {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    .percentage-content .percentage-cards .percentage {
      width: 20rem;
      height: 18rem;
      align-items: center;
      margin-top: 35px;
    }
    .percentage-content .percentage-cards .percentage h3 {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 40px;
    }
    .percentage-content .percentage-cards .percentage p {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 15px;
      line-height: 20px;
      width: 10rem;
      margin-top: 10px;
    }
    .services{
      width: 100%;
      height: 650px;
      padding-top: 55px;
    }
  }
  @media (max-width: 425px){
    .blur-card{
      display: none;
      width: 0%;
      height: 0%;
    }

    .header {
      width: 100%;
      height: 35rem;
    }
    .percentage-content {
      width: 100%;
      height: 65rem;
      left: 0px;
      position: relative;
      margin-top: -50px;
      margin-bottom: -50px;
      padding: 35px 55px;
      align-items: center;
      justify-content: center;
  
      background: linear-gradient(90.57deg, #21489d -20%, #5d6d96 138.33%);
      border-radius: 40px;
    }
    .percentage-content h1{
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 30px;
    }
  
    .percentage-content .percentage-cards {
      display: grid;
      justify-content: space-between;
      align-items: center;
    }
    .percentage-content .percentage-cards .percentage {
      width: 20rem;
      height: 13rem;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
    }
    .percentage-content .percentage-cards .percentage h3 {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 40px;
    }
    .percentage-content .percentage-cards .percentage p {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 20px;
      width: 100%;
      margin-top: 10px;
    }
    .services{
      width: 100%;
      height: 650px;
      padding-top: 55px;
    }
  }
  @media (max-width: 375px){
    .blur-card{
      display: none;
      width: 0%;
      height: 0%;
    }

    .header {
      width: 100%;
      height: 35rem;
    }
    .percentage-content {
      width: 100%;
      height: 65rem;
      left: 0px;
      position: relative;
      margin-top: -50px;
      margin-bottom: -50px;
      padding: 35px 20px;
      align-items: center;
      justify-content: center;
  
      background: linear-gradient(90.57deg, #21489d -20%, #5d6d96 138.33%);
      border-radius: 40px;
    }
    .percentage-content h1{
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 30px;
    }
  
    .percentage-content .percentage-cards {
      display: grid;
      justify-content: space-between;
      align-items: center;
    }
    .percentage-content .percentage-cards .percentage {
      width: 20rem;
      height: 13rem;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
    }
    .percentage-content .percentage-cards .percentage h3 {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 40px;
    }
    .percentage-content .percentage-cards .percentage p {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 20px;
      width: 100%;
      margin-top: 10px;
    }
    .services{
      width: 100%;
      height: 650px;
      padding-top: 55px;
    }
  }
  @media (max-width: 370px){
    .blur-card{
      display: none;
      width: 0%;
      height: 0%;
    }

    .header {
      width: 100%;
      height: 35rem;
    }
    .percentage-content {
      width: 100%;
      height: 65rem;
      left: 0px;
      position: relative;
      margin-top: -50px;
      margin-bottom: -50px;
      padding: 35px 15px;
      align-items: center;
      justify-content: center;
  
      background: linear-gradient(90.57deg, #21489d -20%, #5d6d96 138.33%);
      border-radius: 40px;
    }
    .percentage-content h1{
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 30px;
    }
  
    .percentage-content .percentage-cards {
      display: grid;
      justify-content: space-between;
      align-items: center;
    }
    .percentage-content .percentage-cards .percentage {
      width: 20rem;
      height: 13rem;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
    }
    .percentage-content .percentage-cards .percentage h3 {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 40px;
    }
    .percentage-content .percentage-cards .percentage p {
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 20px;
      width: 100%;
      margin-top: 10px;
    }
    .services{
      width: 100%;
      height: 650px;
      padding-top: 55px;
    }
  }